---
import type { CollectionEntry } from 'astro:content';
import { createExcerpt, formatPostDate, getPostImage, getPostUrl } from '../utils/blog';

type Props = {
  post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
const image = getPostImage(post);
---

<article class="post-card">
  <div class="post-card__body">
    <div class="meta">
      <span>{formatPostDate(post.id)}</span>
      <span>{post.data.author}</span>
    </div>

    <div>
      <h3>
        <a href={getPostUrl(post.id)}>{post.data.title}</a>
      </h3>
      {post.data.subtitle && <p class="meta-copy">{post.data.subtitle}</p>}
    </div>

    <p>{createExcerpt(post.body)}</p>

    {image && (
      <a class="post-card__media" href={getPostUrl(post.id)}>
        <img src={image} alt={post.data.title} loading="lazy" />
      </a>
    )}

    {!!post.data.tags?.length && (
      <div class="tag-list">
        {post.data.tags.slice(0, 4).map((tag) => (
          <a class="tag" href={`/tags/#${tag.toLowerCase().replace(/\s+/g, '-')}`}>
            {tag}
          </a>
        ))}
      </div>
    )}
  </div>
</article>